/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/
@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
.App {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding:2% 5%;
  background-blend-mode:lighten;
  background-image: -webkit-gradient(linear, left top, right top, from(rgb(43, 26, 56)), to(rgb(75, 57, 36)));
  background-image: -o-linear-gradient(left, rgb(43, 26, 56), rgb(75, 57, 36));
  background-image: linear-gradient(to right, rgb(43, 26, 56), rgb(75, 57, 36));
  background-image:url(./img/code2.jpg), -webkit-gradient(linear, left top, right top, from(rgb(43, 26, 56)), to(rgb(75, 57, 36)));
  background-image:url(./img/code2.jpg), -o-linear-gradient(left, rgb(43, 26, 56), rgb(75, 57, 36));
  background-image:url(./img/code2.jpg), linear-gradient(to right, rgb(43, 26, 56), rgb(75, 57, 36));
  background-position: top center;
  background-repeat: no-repeat;
  /* background-size: cover; */
  background-size:100%;
  min-height: 100vh;
}

.App *{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.App h4{
  color:aliceblue;
}

span.event-title{
  font-size:2.3rem;
}
span.event-location{
  display:inline-block;
  margin-bottom:15px;
  
}
span.event-time{
  display:inline-block;
  margin-bottom: 5px;
}
ul{
  padding:0;
  list-style:none;
}

input[type="text"],
input[type="number"] {
  padding: 8px 6px 8px 10px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #ccc;
  font-size: 14px;
  line-height: 20px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 38px;
}
.city{
  width:250px;
}

.CitySearch{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 300px;
      flex-basis: 300px;
  max-width:300px;
  margin:auto;
  position:relative;
  
}
.searchCity-title{
  font-size: 1.3rem;
  padding:5px;
  letter-spacing: 0.2rem;
  -webkit-text-stroke: .55px #b0e6ff;
  color: black;
  font-family: 'Philosopher', sans-serif;
}
.showSuggestions{
  display:block;
}
.suggestions > li {
  text-align: left;
  padding: 8px 6px 8px 10px;
  background-color: rgb(56,66,76);
  color:rgb(162,100,50);
  cursor: pointer;
}
.suggestions > li:hover{
  color:rgb(30,194,252);
}
.numberOfEvents{
  padding:20px 0;
}
.numEvents-label{
  font-family: 'Philosopher', sans-serif;
  color:rgb(53,194,213);
  letter-spacing: .1rem;
  font-weight:700;
}

input.event-number-input{
  margin-top:20px;
  width:60px;
}

li.EventItem{
  margin:10px;
  -webkit-box-shadow: inset 2px 2px 20px 20px rgba(0,0,0,0.5);
          box-shadow: inset 2px 2px 20px 20px rgba(0,0,0,0.5);
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0,0,0,0.2)), color-stop(50%, rgba(62,188,213, 0.3)),color-stop(74%, rgba(75,81,89, 0.7)));
  background-image: -o-linear-gradient(right, rgba(0,0,0,0.2) 0%, rgba(62,188,213, 0.3) 50%,rgba(75,81,89, 0.7) 74%);
  background-image: linear-gradient(to left, rgba(0,0,0,0.2) 0%, rgba(62,188,213, 0.3) 50%,rgba(75,81,89, 0.7) 74%);
  background-size:200%;
  -webkit-transition:.6s;
  -o-transition:.6s;
  transition:.6s;
}
li.EventItem:hover{
  background-position:right;
  -webkit-box-shadow: 2px 2px 20px 20px rgba(0,0,0,0.5);
          box-shadow: 2px 2px 20px 20px rgba(0,0,0,0.5);
}

.EventList{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap:wrap;
      flex-wrap:wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.event-container{
  color: rgb(201,207,203);
  padding:40px;
}

.event-title{
  -webkit-text-stroke: 1px rgb(221, 149, 32);
  color: rgba(234,161,40,0);
  font-family: 'Press Start 2P', cursive;
  margin-bottom: 5px;
}

.event-location{
  color:azure;
}

.event-details{
  -webkit-animation: aniCollapse 0.6s; /* Safari 4+ */ /* Fx 5+ */ /* Opera 12+ */
  animation:         aniCollapse 0.6s; /* IE 10+, Fx 29+ */
  color:aliceblue;
  font-family: 'Philosopher', sans-serif;
}

@-webkit-keyframes aniCollapse {
  from {
    opacity:0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    opacity:1;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes aniCollapse {
  from {
    opacity:0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    opacity:1;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

span.event-description{
  display:inline-block;
  margin-bottom: 20px;
}

button.toggle-button{
  margin-bottom: 10px;
  cursor: pointer;
  padding:7px;
  font-size:1rem;
  background-color:rgba(0,0,0,0);
  border-color:rgb(234,161,40);
  border-radius: 5px;
  color:rgb(234,161,40);
  -webkit-transition:0.6s ease-in;
  -o-transition:0.6s ease-in;
  transition:0.6s ease-in; 
}

button.toggle-button:hover{
  border-color:rgb(44,179,225);
  color:rgb(53,194,213);
}

@media only screen and (min-width: 992px) {
  .data-vis-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .data-vis-wrapper .recharts-responsive-container {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    max-width: 50%;
    min-width: auto;
    margin: 0 auto;
  }
}

@media (max-width: 500px){
  span.event-title{
    font-size: 1.2rem !important;
  }
  span.event-description{
    margin:10px;
    width:80%;
  }
  span.creator-email{
    margin: 10px;
    font-size:10px;
  }
}

@media(min-width: 500px) and (max-width: 750px){
  span.event-title{
    font-size: 1.7rem !important;
  }
}