@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital@1&display=swap');
.WelcomeScreen {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  transform: translateX(-10%);
  height: 100%;
  padding : 5%;
  top: 0;
  /* background-color: white; */
  /* background-blend-mode:soft-light; */
  background-image:url(./img/world-map.png), linear-gradient(to right, white, rgb(122, 214, 250), white);
  animation: animate 7s ease-in infinite alternate;
  background-position: 0px 0px;
  background-repeat: repeat-x;
  background-size:contain;
  font-family: 'Philosopher', sans-serif;
  -webkit-text-stroke: 1px black;
  color:aliceblue;
  font-size:1.5rem;
}

@keyframes animate{
  0%{background-blend-mode:soft-light; background-position: 0 0; transform: scale(1.1);background-image:url(./img/world-map.png), linear-gradient(to right, rgb(51, 56, 61), rgb(122, 214, 250), white);}
  20%{background-blend-mode:overlay;}
  25%{background-blend-mode:saturation; }
  /* 80%{background-blend-mode:lighten ;} */
  /* 80%{background-blend-mode: color-dodge;} */
  35%{background-blend-mode:color-dodge; background-image:url(./img/world-map.png), linear-gradient(to right, rgb(48, 38, 56), rgb(122, 214, 250), white);}
  75%{background-blend-mode:screen; }
  100%{background-blend-mode:screen; transform: scale(1.2); background-position: 100% 0; background-image:url(./img/world-map.png), linear-gradient(to right, rgb(95, 81, 105), rgb(122, 214, 250), white);}
}

h1{
  animation:left_to_right 3s ease-in-out;
}
h4{
  animation: rotate_from_corner 4s ease-in-out;
}
img.google-icon{
  animation: rotate_from_corner 8s ease-in-out;
}

@keyframes left_to_right{
  from{
    margin-left:-100%;
  }
  to{
    margin-left:0;
  }
}

@keyframes top_to_bottom{
  from{
    margin-top:-100%;
  }
  to{
    margin-top:0;
  }
}

@keyframes rotate_from_corner{
  from{
    margin-right: -100%;
    transform: rotate(1turn);
  }
  to{
    margin-right:0;
  }
}

.google-btn {
  cursor: pointer;
  width: 200px;
  height: 40px;
  margin: 1rem;
  border-radius: 20px;
  z-index: 999;
  transition: 0.4s;
}

.google-btn:active {
  background: transparent;
}

.google-icon-wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 20px 0 0 20px;
  background-color:rgb(250, 224, 224);
}

.google-icon {
  position: relative;
  display: flex;
  width:30px;
  margin-top: -11px;
  transition: 1s;
}

.google-icon:hover{
  transform:rotate(1turn);
}

.btn-text {
  cursor: pointer;
  float: right;
  font-size: 15px;
  letter-spacing: 0.2px;
  background-color: transparent;
  box-shadow: 2px 2px rgb(124, 121, 121);
  border-style: none;
  width: 80%;
  height: 100%;
  text-align: center;
  transition: 2s;
  -webkit-text-stroke: 0.2px black;
}

.btn-text:hover{
  box-shadow: 10px 10px rgb(124, 121, 121);
}
 
.policy {
  font-size: 18px;
}

.policy:hover{
  color:rgb(75, 57, 36);
}

.spots{
  position: absolute;
}

@media (max-width: 975px){
  .WelcomeScreen h1{
    font-size: 1.5rem !important;
    margin-right:20px;
  }
  .WelcomeScreen h4{
    margin-right:20px;
    font-size: 1rem !important;
  }
  .google-btn{
    width:150px;
    height:40px;
    margin-right:20px;
  }

}